module.exports =
    user:
        username: ''
        password: ''
        token: null

    hotel:
        url: 'http://www.holohotel.us/'
        host: 'holohotel.us'
        port: 30000

    plugins: ['test']
    modules: ['Core', 'Login', 'Messenger']
